html {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
  }

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-left: 5vw;
}

.banner {
    height: 25vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: auto;
    overflow: hidden;
    animation: slide 30s linear infinite;
}

@keyframes slide{
    0%{
        visibility: visible;
    }
     25%{
        visibility: visible;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: visible;
    }
}
.banner-img {
    width: 120%;
    position: absolute;
    filter: opacity(70%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 15s linear infinite;
}
 
@keyframes zoom-in{
    100%{
        width: 100%;
    }
}


#page_title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

/*#submit {
    font-family: 'Open Sans', sans-serif;
}*/

#thumbs {
    height: 20vh;
    overflow: hidden;
    width: 100%;
    position: relative;   
}

/*Ensure All recipes line upp in grid
.image-wrapper {
  /*display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 200px));
  display: flex;
  grid-template-rows: auto auto auto;
 
  
  border: 1px dashed red;
}*/


.btn-large{
    border-radius: 24px;
}

/* Footer icons*/
.icons {
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

/*Incrementing the steps numerically from W3schools: CSS counter-reset Property*/
ol {
    counter-reset: number;
    list-style-type: none;
}

ol li::before {
    content: "Step " counter(number) ": ";
    counter-increment: number;
    line-break: strict;
    font-weight: bold;
}

