{% extends "base.html" %}
{% block content %}

<!--Main banner-->
<section class="banner"></section>


<!--Random Recipes Featured-->

<div class="row">
    <div class="col-12">
        <h4 class="center-align">Our featured Recipes</h4>
        <hr>
    </div>
</div>

<div class="row">
    {% for recipe in recipes %}

    <div class="col m4">

        <div class="card">

            <div class="card-image">
                <img src="#">
                <span class="card-title">Card Title</span>
            </div>

            <div class="card-content">
                <h5 class="center-align">{{ recipe.food_name }}</h5>
                <p class="center-align">{{ recipe.food_type }}</p>
            </div>

            <div class="card-action">
                <a href ="#" ><h6 class="center-align">Try me!</h6></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}