{% extends "base.html" %}
{% block content %}


<br>
<br>
<div class="row">
    <div class="col s6 m6 flow-text-small">
        <p>This is a community for us to share our kid-friendly recipes and ideas! It can be meals where kids can
            participate
            in the prep or sure-fire go-to meals that will give smiles all around.</p>
        <p>Need meal ideas for children? Ways to encourage your kids to eat? Nutritional advice? Find recipes and meal
            prep advice to help see you through this period of your little foodie’s life.</p>
             <div class="center-align"><a href="{{ url_for('register') }}" class="btn-large indigo darken-3 text-shadow">
                    Register & Join!</a></div>
    </div>
    <div class=" col s6 m6">
        <img class="responsive-img" src="/static/index_img.jpg" alt="muffinpan">
    </div>
</div>

<!--Random Recipes Featured-->

<div class="row">
    <div class="col s12">
        <h3 class="center-align" id="page_title">Some Favorite Recipes</h3>
        <hr>
    </div>
</div>

<div class="row">
    {% for recipe in recipes %}

    <div class="col m4">
        <div class="card">
            <div class="card-image" id="thumbs">
                <img src="{{ recipe.food_img }}">
            </div>
            <div class="card-content">
                <strong>{{ recipe.food_name }}</strong>
                <p>{{ recipe.food_type }}</p>
                <p><em>by: {{ recipe.created_by |title }}</em></p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('recipe_description', recipe_id=recipe._id)  }}">Try me!</a>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)  }}" class="btn-floating btn-medium red"><i
                        class="fas fa-trash"></i></a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)  }}" class="btn-floating btn-medium blue"><i
                        class="fas fa-marker"></i></a>
                {% endif %}
            </div>

        </div>
    </div>

    {% endfor %}
</div>




{% endblock %}