{% extends "base.html" %}
{% block content %}

<!--Main banner-->

<div class="row no-padding">
    <img class="banner" src="/static/banner.jpg">

</div>

<!--Random Recipes Featured-->

<div class="row flow-text">
    <div class="col s12">
        <h4 class="center-align" id="page_title">Some Favorite Recipes</h4>
        <hr>
    </div>
</div>

<div class="row flow-text">
    {% for recipe in recipes %}

    <div class="col m4">

        <div class="card">

            <div class="card-image">
                <img src="{{ recipe.food_img }}">

            </div>

            <div class="card-content">
                <strong>{{ recipe.food_name }}</strong>
                <p>{{ recipe.food_type }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </div>

            <div class="card-action">
                <a href="#">Try me!</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}