{% extends "base.html" %}
{% block content %}


<h3 class="light-blue-text text-darken-4 center-align" id="page_title">Manage Recipes</h3>

<div class="row flow-text">
    {% for recipe in recipes %}
    <div class="col s12 m4">
        <div class="card small sticky-action">
            <div class="card-content waves-effect waves-block waves-light">
                <span class="card-text activator"><strong>{{ recipe.food_name }}</strong><i
                        class="fas fa-ellipsis-v right"></i>
                    <p>{{ recipe.food_type }}</p>
                    <p><em>by: {{ recipe.created_by }}</em></p>
                </span>
            </div>
            <div class="card-reveal">
                <span class="card-text">{{ recipe.food_name }}<i class="fas fa-times right"></i></span>
                <p>{{ recipe.prep }}</p>
            </div>

            <div class=" card-action">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)  }}" class="btn-floating red"><i
                        class="fas fa-trash"></i></a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)  }}" class="btn-floating blue"><i
                        class="fas fa-marker"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}