{% extends "base.html" %}
{% block content %}



<h3 class="light-blue-text text-darken-4 center-align" id="page_title">{{  recipe.food_name  }}</h3>


<div class="row flow-text">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{ recipe.food_img }}">
          <span class="card-title text-large"><strong>{{ recipe.food_name }}</strong></span>
        </div>
        <div class="card-content">
           <p>{{ recipe.food_type }}</p>
           <br>
           <p>by: {{ recipe.created_by |title }}</p>
           <br>
           <p>Ingredients:</p>
           {% for ingredient in recipe.ingredients %}
           <ul>
           <li>{{ ingredient }}</li>
            {% endfor %}
           </ul>
           <br>
           <p>Prep:</p>
           {% for steps in recipe.prep %}
           <ul>
           <li class="prep-steps">{{ steps }}</li>
           {% endfor %}
           </ul>
        </div>
      </div>
    </div>
  </div>




{% endblock %}