{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align" id="page_title">All Recipes</h3>

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m8">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Recipes</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('get_recipes') }}" class="btn-floating btn-medium waves-effect waves-light red"><i
                        class="fas fa-undo-alt"></i></a>
                <button type="submit" class="btn-floating btn-medium waves-effect waves-light blue">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

{% if recipes|length>0 %}
<div class="row">
    {% for recipe in recipes %}

    <div class="col m4 image-wrapper">
        <div class="card">
            <div class="card-image" id="thumbs">
                <img src="{{ recipe.food_img }}">
            </div>
            <div class="card-content">
                <strong>{{ recipe.food_name }}</strong>
                <p>{{ recipe.food_type }}</p>
                <p><em>by: {{ recipe.created_by |title }}</em></p>
            </div>
            <div class="card-action">
                 <a href="{{ url_for('recipe_description', recipe_id=recipe._id)  }}">Try me!</a>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)  }}" class="btn-floating btn-medium red"><i
                        class="fas fa-trash"></i></a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)  }}" class="btn-floating btn-medium blue"><i
                        class="fas fa-marker"></i></a>
                {% endif %}
            </div>

        </div>
        
    </div>
    {% endfor %}
</div>

{% else %}
<h3 class="red-text text-darken-4 center-align">No Results Found</h3>

{% endif %}

{% endblock %}