{% extends "base.html" %}
{% block content %}



<h3 class="light-blue-text text-darken-4 center-align" id="page_title">{{  recipe.food_name  }}</h3>


<div class="row flow-text">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{ recipe.food_img }}">
          <span class="card-title"><strong>{{ recipe.food_name }}</strong></span>
        </div>
        <div class="card-content">
           <p>{{ recipe.food_type }}</p>
           <br>
           <p>by: {{ recipe.created_by |title }}</p>
           <br>
           <p>Ingredients:</p>
           <p>{{ recipe.ingredients }}</p>
           <br>
           <p>Prep:</p>
           <p>{{ recipe.prep }}</p>
        </div>
      </div>
    </div>
  </div>




{% endblock %}